<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% block title %}Alarm Clock{% endblock %}</title>
      {% load static %}
     <link rel="icon" href="data:," />
      <link rel="stylesheet" href="{% static 'alarm_app/style.css' %}">
</head>
      
<body>
  <div class="container">
    <header>
      <div><strong>⏰ Alarm Clock</strong></div>
      <nav>
        {% if user.is_authenticated %}
          <span class="muted">Hi, {{ user.username }}!</span>
          <form method="post" action="{% url 'logout' %}" style="display:inline">
            {% csrf_token %}
            <button type="submit" class="btn">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
      </nav>
    </header>

    {% block content %}{% endblock %}
  </div>
</body>
</html>
